#header {
  text-align:center;
}
.icons {
  text-align:center;
}
body {
    background-image: url("background.jpg");
}
img {
  max-width:100%;
  height:auto;
}
.indexCard {
  font-family: 'Indie Flower', cursive;
  font-size: 170%;
}
.specialWords {
  font-family: 'Work Sans', sans-serif;
}
.tape {
  font-family:'Indie Flower', cursive;
  font-size: 200%;
}
