#header {
  text-align:center;
}
.icons {
  text-align:center;
}
body {
    background-image: url("background.jpg");
}
img {
  max-width:100%;
  height:auto;
}
.about {
  width:50px;
  padding-right:50px;
}
.about:hover {
  background-image: url('about2.png');
}
.contact {
  width:50px;
  padding-right:50px;
}
.contact:hover {
  background-image: url('contact2.png');
}
.portfolio {
  width:50px;
}
.portfolio:hover {
  background-image: url('port2.png');
}
.indexCard {
  font-family: 'Indie Flower', cursive;
  font-size: 170%;
}
.specialWords {
  font-family: 'Work Sans', sans-serif;
}
.tape {
  font-family: 'Indie Flower', cursive;
  font-size: 200%;
  text-align:center;
}
.caption {
  font-family: 'Indie Flower', cursive;
  font-size: 150%;
  text-align:center;
}
.portfolio:hover {
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   transition: 0.3s;
   -webkit-transform: scale(1.1) rotate(5deg);
   -moz-transform: scale(1.1) rotate(5deg);
   -ms-transform: scale(1.1) rotate(5deg);
   -o-transform: scale(1.1) rotate(5deg);
   transform: scale(1.1) rotate(5deg);
}
