#header {
  text-align:center;
}
#icons {
  width:300px;
}
html {
    background-image: url("background.jpg");
}
}
img {
  max-width:100%;
  height:auto;
}
a:link {
  color: #3E3EE5;
}
a:active {
  color: #FF4847;
  text-decoration:none;
}
a:visited {
  color: #3E3EE5;
}
a:hover {
  color: #FF4847;
  text-decoration:none;
}
.indexCard {
  font-family: 'Indie Flower', cursive;
  font-size: 175%;
  background-image: url('index-card.jpg');
  background-repeat: no-repeat;
  background-size: 500px 300px;
  background-position:center;
}
.specialWords {
  font-family: 'Work Sans', sans-serif;
}
.tape {
  font-family: 'Indie Flower', cursive;
  font-size: 200%;
  text-align:center;
}
.caption {
  font-family: 'Indie Flower', cursive;
  font-size: 175%;
  text-align:center;
}
.portfolio:hover {
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   transition: 0.3s;
   -webkit-transform:scale(1.0) rotate(5deg);
   -moz-transform:scale(1.0) rotate(5deg);
   -ms-transform:scale(1.0) rotate(5deg);
   -o-transform:scale(1.0) rotate(5deg);
   transform:scale(1.0) rotate(5deg);
}
/*@media only screen and (max-width: 500px) {
      .indexCard { 
          background-image: url('postit.png');
          background-size: 300px 261px;
          font-size:100%;
      }
}*/
